---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import Container from "@/components/Container.astro";

const posts = await getCollection("posts");
---

<Layout title="Template - All Posts">
  <main >
    <Container>
    <h1>Posts</h1>

    <article>
      {
        posts.map((post) => (
          <a
          
            href={`/posts/${post.slug}`}
          >
            <div>
              <h2>{post.data.title}</h2>

              <div>
                <p>{formatDate(post.data.publishedAt)}</p>
              </div>
            </div>
            <p>{post.data.description}</p>
          </a>
        ))
      }
    </article>
  </Container>
  </main>
</Layout>
