.shape {
  transform-origin: center;
  transition: background 0.3s ease-in-out;
}

.shape-teatro,
.shape-contacto {
  border-radius: 0;
  animation: shape-anim 24s infinite forwards linear;
}

.shape-arte,
.shape-verano {
  border-radius: 100%/100%;
  animation: shape-anim-rev 24s infinite forwards linear;
}

@media (min-width: 768px) {
  .shape-teatro,
  .shape-verano {
    border-radius: 0;
    animation: shape-anim 24s infinite forwards linear;
  }

  .shape-arte,
  .shape-contacto {
    border-radius: 100%/100%;
    animation: shape-anim-rev 24s infinite forwards linear;
  }
}

.shape-arte {
  animation-delay: 0.1s;
}

.shape-verano {
  animation-delay: 0.7s;
}

.shape-contacto {
  animation-delay: 0.8s;
}

.shapes-container:has(a:hover) a:not(:hover) .shape-teatro {
  @apply bg-teatro-50;
}
.shapes-container:has(a:hover) a:not(:hover) .shape-arte {
  @apply bg-arte-50;
}
.shapes-container:has(a:hover) a:not(:hover) .shape-verano {
  @apply bg-verano-50;
}
.shapes-container:has(a:hover) a:not(:hover) .shape-contacto {
  @apply bg-contacto-50;
}

.wave {
  animation: wave-animation 2.5s infinite;
  animation-play-state: paused;
  transform-origin: 70% 70%;
  display: inline-block;
}

.shapes-item:hover .wave {
  animation-play-state: running;
}

@keyframes shape-anim {
  0%,
  11.25% {
    border-radius: 0;
    transform: rotate(0deg);
  }
  11.25%,
  13.75% {
    border-radius: 0;
    transform: rotate(0deg);
  }
  13.75%,
  36.25% {
    border-radius: 100%/100%;
    transform: rotate(90deg);
  }
  36.25%,
  38.75% {
    border-radius: 100%/100%;
    transform: rotate(90deg);
  }
  38.75%,
  61.25% {
    border-radius: 0;
    transform: rotate(180deg);
  }
  61.25%,
  63.75% {
    border-radius: 0;
    transform: rotate(180deg);
  }
  63.75%,
  86.25% {
    border-radius: 100%/100%;
    transform: rotate(270deg);
  }
  86.25%,
  88.75% {
    border-radius: 100%/100%;
    transform: rotate(270deg);
  }
  88.75%,
  100% {
    border-radius: 0;
    transform: rotate(360deg);
  }
}

@keyframes shape-anim-rev {
  0%,
  11.25% {
    border-radius: 100%/100%;
    transform: rotate(0deg);
  }
  11.25%,
  13.75% {
    border-radius: 100%/100%;
    transform: rotate(0deg);
  }
  13.75%,
  36.25% {
    border-radius: 0;
    transform: rotate(90deg);
  }
  36.25%,
  38.75% {
    border-radius: 0;
    transform: rotate(90deg);
  }
  38.75%,
  61.25% {
    border-radius: 100%/100%;
    transform: rotate(180deg);
  }
  61.25%,
  63.75% {
    border-radius: 100%/100%;
    transform: rotate(180deg);
  }
  63.75%,
  86.25% {
    border-radius: 0;
    transform: rotate(270deg);
  }
  86.25%,
  88.75% {
    border-radius: 0;
    transform: rotate(270deg);
  }
  88.75%,
  100% {
    border-radius: 100%/100%;
    transform: rotate(360deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes inicio-cta-button {
  0%,
  25% {
    @apply bg-teatro-50;
  }
  25%,
  50% {
    @apply bg-arte-50;
  }
  50%,
  75% {
    @apply bg-verano-50;
  }
  75%,
  100% {
    @apply bg-contacto-50;
  }
  100% {
    @apply bg-teatro-50;
  }
}
@keyframes inicio-cta-button-hover {
  0%,
  25% {
    @apply bg-teatro-primary;
  }
  25%,
  50% {
    @apply bg-arte-primary;
  }
  50%,
  75% {
    @apply bg-verano-primary;
  }
  75%,
  100% {
    @apply bg-contacto-primary;
  }
  100% {
    @apply bg-teatro-primary;
  }
}

.inicio-cta-button {
  animation: inicio-cta-button 8s infinite;
  overflow: hidden;
}
.inicio-cta-button span {
  z-index: 1;
  position: relative;
}

.inicio-cta-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: inicio-cta-button-hover 8s infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.inicio-cta-button:hover::before {
  opacity: 1;
}
