@tailwind base;
@tailwind components;
@tailwind utilities;

.marked {
  *:empty {
    display: none;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
