@tailwind base;
@tailwind components;
@tailwind utilities;

.marked {
  *:empty {
    display: none;
  }

  p {
    margin-bottom: 16px;
    @apply font-serif;
  }

  a:not(.no-underline) {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
