---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
---

<Layout>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <div class="grid h-screen place-content-center bg-white px-4">
        <div class="text-center">
          <h1
            class="mb-10 text-3xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >
            Aviso legal
          </h1>
        </div>
      </div>
    </Container>
  </main>
</Layout>
