---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
---

<Layout>
  <main>
    <Container>
      <article class="min-h-[100dvh] flex items-center">
          <h1 class="mb-4 text-2xl">Contacto
            
          </h1>
          
      </article>
    </Container>
  </main>
</Layout>
