---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import { SITE_URL } from "@/data/config";
---

<Layout>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <article class="min-h-[100dvh] flex flex-col items-start justify-center">
        <h1 class="mb-4 text-2xl">Contacto</h1>
        <p class="mt-4">Formulario de contacto de prueba:</p>

        <form
          target="_blank"
          action="https://formsubmit.co/5d7f85a3bfef8d3f7d94f2459a0acf0d"
          method="POST"
        >
          <input type="hidden" name="_captcha" value="false" />
          <input type="text" name="_honey" style="display:none" />
          <input
            type="hidden"
            name="_next"
            value={`${SITE_URL}formulario-enviado/`}
          />
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input
                  class="border border-gray mb-2 p-2"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="col">
                <input
                  class="border border-gray mb-2 p-2"
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="border border-gray mb-2 p-2"
              placeholder="Mensaje"
              class="form-control"
              name="message"
              rows="10"
              required></textarea>
          </div>
          <button
            class="py-1 px-4 bg-gray-100 rounded-full hover:bg-gray-800 hover:text-white transition-colors duration-300 text-lg"
            type="submit"
            class="btn btn-lg btn-dark btn-block">Enviar</button
          >
        </form>
      </article>
      <div>
        <form
          name="contact"
          method="POST"
          action={`${SITE_URL}formulario-enviado/`}
          data-netlify="true"
        >
          <p>
            <label
              >Your Name: <input
                class="border border-gray mb-2 p-2"
                type="text"
                name="name"
              /></label
            >
          </p>
          <p>
            <label
              >Your Email: <input
                class="border border-gray mb-2 p-2"
                type="email"
                name="email"
              /></label
            >
          </p>
          <p>
            <label
              >Message: <textarea
                class="border border-gray mb-2 p-2"
                name="message"></textarea></label
            >
          </p>
          <p>
            <button
              class="py-1 px-4 bg-gray-100 rounded-full hover:bg-gray-800 hover:text-white transition-colors duration-300 text-lg"
              type="submit">Send</button
            >
          </p>
        </form>
      </div>
    </Container>
  </main>
</Layout>
