---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
---

<Layout>
  <main>
    <Container>
      <article>
          Escuela verano
      </article>
    </Container>
  </main>
</Layout>
