---
import "@/styles/index.css";
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import Shape from "@/components/Shape.astro";

const homeEntry = await getEntry("pages", "home");

const { title, intro, description } = homeEntry.data;
---

<Layout>
  <main
    class="flex flex-col gap-20 overflow-hidden pb-20 relative z-10 bg-white shadow-main"
  >
    <article
      class="flex flex-col gap-8 min-h-[calc(100dvh-70px)]"
      transition:name="myArticle"
    >
      <Container class="mt-32 mb-20">
        <h1 class="mb-6 text-6xl md:text-8xl md:mb-4 italic">
          {title}
        </h1>
        <div class="flex flex-col md:flex-row gap-4 md:gap-10">
          <p class="mb-4 text-2xl md:text-3xl md:max-w-4xl md:w-2/3">{intro}</p>
          <p class="mb-4 md:text-l md:max-w-4xl md:w-1/3">{description}</p>
        </div>
      </Container>

      <div class="shapes-container flex gap-2 p-2 mt-auto">
        <Shape
          href="/arte"
          title="Arte"
          shapeClass="shape-1"
          bgColor="bg-yellow-300"
          imgSrc="/logos/eltrac.svg"
          imgAlt="artiteatre Logo"
        />

        <Shape
          href="/teatro"
          title="Teatro"
          shapeClass="shape-2"
          bgColor="bg-red-400"
          imgSrc="/logos/musicaldansa.svg"
          imgAlt="artiteatre Logo"
        />

        <Shape
          href="/escuela"
          title="Escuela de verano"
          shapeClass="shape-3"
          bgColor="bg-blue-300"
          imgSrc="/logos/escuela.svg"
          imgAlt="artiteatre Logo"
        />

        <Shape
          href="/contacto"
          title="Contacto"
          shapeClass="shape-4"
          bgColor="bg-green-400"
          imgSrc="/logos/hand.svg"
          imgAlt="artiteatre Logo"
          imgClass="wave w-16"
        />
      </div>
    </article>
  </main>
</Layout>
