---
import "@/styles/index.css";
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import Shape from "@/components/Shape.astro";
import { marked } from "marked";
import CustomCursor from "@/components/shared/CustomCursor.astro";

const inicioEntry = await getEntry("pages", "inicio");
const { title, intro, description } = inicioEntry.data;
---

<Layout>
  <CustomCursor />
  <main
    class="flex flex-col gap-20 overflow-hidden pb-20 relative z-10 bg-white shadow-main"
  >
    <article class="grid grid-rows-[1fr_auto] lg:min-h-[calc(100dvh-71px)]">
      <Container class="flex flex-col justify-center lg:h-[min(33vw,600px)]">
        <!-- <h1 class="mb-6 text-6xl lg:text-8xl lg:mb-8 mt-8 italic">
          {title}
        </h1> -->
        <div class="flex flex-col lg:flex-row gap-4 lg:gap-10 mt-10 lg:mt-0">
          <div class="mb-4 text-2xl max-w-xl lg:text-3xl lg:max-w-4xl lg:w-2/3">
            <p set:html={marked(intro)} />
          </div>
          <div
            class="marked mb-4 ml-auto max-w-lg lg:text-l lg:max-w-4xl lg:w-1/3"
          >
            <p set:html={marked(description)} />
          </div>
        </div>
      </Container>

      <div
        class="shapes-container grid grid-cols-2 max-w-2xl w-full mx-auto lg:max-w-full lg:grid-cols-4 gap-2 px-4 pb-4 mt-auto"
      >
        <Shape
          href="/teatro"
          shapeClass="shape-teatro"
          bgColor="bg-teatro-primary"
          imgSrc="/logos/logo-totteatresvg.svg"
          imgAlt="artiteatre Logo"
          cursorText="Teatro"
          cursorColor="#FFC400"
          imgClass="xl:max-w-[230px] max-w-[152px]"
        />

        <Shape
          href="/arte"
          shapeClass="shape-arte"
          bgColor="bg-arte-primary"
          imgSrc="/logos/eltrac.svg"
          imgAlt="artiteatre Logo"
          cursorText="Escuela de arte"
          cursorColor="#FF3D00"
          imgClass="xl:max-w-[260px] max-w-[192px] transform translate-x-0.5 translate-y-2"
        />

        <Shape
          href="/verano"
          shapeClass="shape-verano"
          bgColor="bg-verano-primary"
          imgSrc="/logos/logo-aulaviva.svg"
          imgAlt="artiteatre Logo"
          cursorText="Escuela de verano"
          cursorColor="#76FF03"
          imgClass="xl:max-w-[230px] max-w-[152px]"
        />

        <Shape
          href="/contacto"
          shapeClass="shape-contacto"
          bgColor="bg-contacto-primary"
          imgSrc="/logos/hand.svg"
          imgAlt="artiteatre Logo"
          imgClass="xl:max-w-[180px] max-w-32 wave"
          cursorText="Contacto"
          cursorColor="#1DE9B6"
        />
      </div>
    </article>
  </main>
</Layout>
