---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
---

<Layout>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <div
        class="grid min-h-screen place-content-center bg-white max-w-screen-md mb-20 mt-14"
      >
        <h1 class="mb-10 font-semibold tracking-tight text-gray-800 text-4xl">
          POLÍTICA DE PRIVACIDAD
        </h1>

        <h2 class="mt-8 mb-5 font-semibold text-3xl">
          Responsable de tratamiento
        </h2>

        <p class="mb-6">
          El Responsable del Tratamiento es NADIA BANEGAS FABREGAT, Pasaje
          Isidoro Macabich Edfo Olimpo, 20 bis, 6º 3ª, 07800, Ibiza (ILLES
          BALEARS).
        </p>

        <h2 class="mt-8 mb-5 font-semibold text-3xl">
          Principios de privacidad
        </h2>

        <p class="mb-6">
          Desde NADIA BANEGAS FABREGAT nos comprometemos contigo a trabajar
          continuamente para garantizar la privacidad en el tratamiento de tus
          datos personales, y para ofrecerte en cada momento la información más
          completa y clara que podamos. Te animamos a leer detenidamente esta
          sección antes de facilitarnos tus datos personales. Si eres menor de
          catorce años te rogamos que no nos facilites tus datos sin
          consentimiento de tus padres.
        </p>

        <p class="mb-6">
          En este apartado te informamos de cómo tratamos los datos de las
          personas que tienen relación con nuestra organización. Empezando por
          nuestros principios:
        </p>

        <ul class="mb-6 list-disc pl-4">
          <li class="mb-3">
            No solicitamos información personal, a no ser que sea necesaria para
            prestarte los servicios que nos requieras.
          </li>
          <li class="mb-3">
            Nunca compartimos información personal con nadie, excepto para
            cumplir la ley, o contemos con tu autorización expresa.
          </li>
          <li class="mb-3">
            Nunca utilizaremos tus datos personales para finalidades distintas a
            las expresadas en la presente política de privacidad.
          </li>
          <li class="mb-3">
            Tus datos siempre serán tratados con un nivel de protección adecuado
            a la legislación en materia de protección de datos, y no los
            someteremos a decisiones automatizadas.
          </li>
        </ul>

        <p class="mb-6">
          La presente política de privacidad la hemos redactado teniendo en
          cuenta las exigencias de la actual legislación de protección de datos:
        </p>

        <ul class="mb-6 list-disc pl-4">
          <li class="mb-3">
            Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27
            de abril de 2016 relativo a la protección de las personas físicas
            (RGPD).
          </li>
          <li class="mb-3">
            Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos de
            Carácter Personal y garantía de los derechos digitales (LOPD).
          </li>
          <li class="mb-3">
            Real Decreto 1720/2007, de 21 de diciembre (RLOPD).
          </li>
        </ul>

        <p class="mb-6">
          Esta política de privacidad está redactada con fecha 6 de diciembre de
          2018. Con motivo de la modificación de criterios de tratamiento, en
          aras de facilitar su comprensión o de adaptarla a la legalidad
          vigente, es posible que modifiquemos la presente política de
          privacidad. Actualizaremos la fecha de la misma, para que puedas
          comprobar su vigencia.
        </p>

        <h2 class="mt-8 mb-5 font-semibold text-3xl">
          Tratamientos que realizamos
        </h2>

        <h3 class="mb-5 font-semibold text-xl">TRATAMIENTO DE CONTACTOS</h3>

        <p class="mb-6">
          Base Jurídica: Consentimiento del interesado Fines del Tratamiento:
          Atender su solicitud, enviarle información y realizar un seguimiento
          de la solicitud. Colectivo: Personas de contacto, clientes,
          proveedores Categorías de Datos: Nombre y apellidos, teléfono,
          dirección de email. Categorías de Destinatarios: No se contemplan
          cesiones de datos a terceros. Transferencias Internacionales: No están
          previstas transferencias internacionales de los datos. Plazo de
          Supresión: Los datos de contacto se conservarán por un periodo
          indefinido, o hasta que el interesado solicite su supresión. Medidas
          de Seguridad: Adaptadas a las exigencias del Reglamento (EU) 2016/679,
          Reglamento General de Protección de Datos.
        </p>

        <h3 class="mb-5 font-semibold text-xl">
          TRATAMIENTO DE ATENCIÓN DERECHOS DE LAS PERSONAS (ARCO)
        </h3>
        <p class="mb-6">
          Base Jurídica: RGPD: 6.1.c) Tratamiento necesario para el cumplimiento
          de una obligación legal aplicable al responsable del tratamiento.
          Reglamento General de Protección de Datos. Fines del Tratamiento:
          Atender las solicitudes en el ejercicio de los derechos que establece
          el Reglamento General de Protección de Datos. Colectivo: Personas
          físicas que lo solicitan (empleados, clientes, proveedores, personas
          de contacto) Categorías de Datos: Nombre y apellidos, dirección, firma
          y teléfono. Categorías de Destinatarios: Podrán ser comunicados a la
          Autoridad de Control (Agencia Española de Protección de Datos) en el
          marco de una investigación por tutela de derechos iniciada por el
          interesado. Transferencias Internacionales: No están previstas
          transferencias internacionales de los datos. Plazo de Supresión: Se
          conservarán durante un plazo de cinco años desde el momento de la
          solicitud. Medidas de Seguridad: Adaptadas a las exigencias del
          Reglamento (EU) 2016/679, Reglamento General de Protección de Datos.
        </p>

        <h3 class="mb-5 font-semibold text-xl">
          TRATAMIENTO DE CANDIDATOS PROCESOS DE SELECCIÓN (RRHH)
        </h3>
        <p class="mb-6">
          Base Jurídica: RGPD: 6.1.b) Tratamiento necesario para la ejecución de
          un contrato en el que el interesado es parte o para la aplicación a
          petición de este de medidas precontractuales. Fines del Tratamiento:
          Selección de personal y provisión de puestos de trabajo. Colectivo:
          Candidatos presentados a procedimientos de provisión de puestos de
          trabajo. Categorías de Datos: - Nombre y apellidos, DNI/CIF/Documento
          identificativo, número de registro de personal, dirección, firma y
          teléfono. - Datos de características personales: Sexo, estado civil,
          nacionalidad, edad, fecha y lugar de nacimiento y datos familiares. -
          Datos académicos y profesionales: Titulaciones, formación y
          experiencia profesional. - Datos de detalle de empleo. Categorías de
          Destinatarios: No están previstas cesiones de datos a terceros.
          Transferencias Internacionales: No están previstas transferencias
          internacionales de los datos. Plazo de Supresión: Se conservarán
          durante el tiempo necesario para cumplir con la finalidad para la que
          se recabaron y para determinar las posibles responsabilidades que se
          pudieran derivar de dicha finalidad y del tratamiento de los datos.
          Medidas de Seguridad: Adaptadas a las exigencias del Reglamento (EU)
          2016/679, Reglamento General de Protección de Datos
        </p>

        <h3 class="mb-5 font-semibold text-xl">TRATAMIENTO DE PROVEEDORES</h3>
        <p class="mb-6">
          Base Jurídica: RGPD: 6.1.b) Tratamiento necesario para la ejecución de
          un contrato en el que el interesado es parte o para la aplicación a
          petición de éste de medidas precontractuales. RGPD: 6.1.c) Tratamiento
          necesario para el cumplimiento de una obligación legal aplicable al
          responsable del tratamiento. Real Decreto Legislativo 2/2015, de 23 de
          octubre, por el que se aprueba el texto refundido de la Ley del
          Estatuto de los Trabajadores. Ley 58/2003, de 17 de diciembre, General
          Tributaria. Fines del Tratamiento: - Adquisición de productos y/o
          servicios que necesitamos para el desarrollo de nuestra actividad. -
          Control de los subcontratistas si procede. Colectivo: - Proveedores. -
          Trabajadores de nuestros proveedores. Categorías de Datos: - Nombre y
          apellidos, DNI/NIF/Documento identificativo, dirección, firma y
          teléfono. - Datos de detalle de empleo: puesto de trabajo. Formación
          en seguridad laboral. - Datos económico financieros y de seguros:
          Datos bancarios. Categorías de Destinatarios: - Entidades financieras.
          (Pago de facturas) - Agencia Estatal de Administración Tributaria.
          Transferencias Internacionales: No están previstas transferencias
          internacionales de los datos. Plazo de Supresión: Se conservarán
          durante el tiempo necesario para cumplir con la finalidad para la que
          se recabaron y para determinar las posibles responsabilidades que se
          pudieran derivar de dicha finalidad y del tratamiento de los datos,
          conforme a la Ley 58/2003, de 17 de diciembre, General Tributaria,
          Medidas de Seguridad: Adaptadas a las exigencias del Reglamento (EU)
          2016/679, Reglamento General de Protección de Datos.
        </p>

        <h3 class="mb-5 font-semibold text-xl">TRATAMIENTO DE CLIENTES.</h3>
        <p class="mb-6">
          Base Jurídica: RGPD: 6.1.a) El interesado dio su consentimiento para
          el tratamiento de sus datos personales para uno o varios fines
          específicos. RGPD: 6.1.b) Tratamiento necesario para la ejecución de
          un contrato en el que el interesado es parte o para la aplicación a
          petición de éste de medidas precontractuales. RGPD: 6.1.c) Tratamiento
          necesario para el cumplimiento de una obligación legal aplicable al
          responsable del tratamiento. RGPD: 6.1.f) Tratamiento necesario para
          la satisfacción de intereses legítimos del responsable del
          tratamiento. Real Decreto Legislativo 2/2015, de 23 de octubre, por el
          que se aprueba el texto refundido de la Ley del Estatuto de los
          Trabajadores. Ley 58/2003, de 17 de diciembre, General Tributaria.
          Fines del Tratamiento: Suministro de nuestros productos / servicios
          Colectivo: Clientes Categorías de Datos: - Nombre y apellidos,
          DNI/NIF/Documento identificativo, dirección, firma y teléfono. - Datos
          económico financieros y de seguros: Datos bancarios Categorías de
          Destinatarios: - Entidades financieras. - Agencia Estatal de
          Administración Tributaria. Transferencias Internacionales: No están
          previstas transferencias internacionales de los datos. Plazo de
          Supresión: Se conservarán durante el tiempo necesario para cumplir con
          la finalidad para la que se recabaron y para determinar las posibles
          responsabilidades que se pudieran derivar de dicha finalidad y del
          tratamiento de los datos, conforme a la Ley 58/2003, de 17 de
          diciembre, General Tributaria, Medidas de Seguridad: Adaptadas a las
          exigencias del Reglamento (EU) 2016/679, Reglamento General de
          Protección de Datos.
        </p>

        <h3 class="mb-5 font-semibold text-xl">TUS DERECHOS</h3>
        <p class="mb-6">
          Tienes derecho a solicitarnos una copia de tus datos personales, a
          rectificar los datos inexactos o completarlos si estuvieren
          incompletos, o en su caso suprimirlos, cuando ya no sean necesarios
          para los fines para los que fueron recogidos. También tienes derecho a
          limitar el tratamiento de tus datos personales y a obtener tus datos
          personales en un formato estructurado y legible. Puedes oponerte al
          tratamiento de tus datos personales en algunas circunstancias (en
          particular, cuando no tengamos que procesarlos para cumplir con un
          requisito contractual u otro requisito legal, o cuando el objeto del
          tratamiento sea el marketing directo). Cuando nos hayas otorgado tu
          consentimiento, podrás retirarlo en cualquier momento. En ese momento
          dejaremos de tratar tus datos o, en su caso, dejaremos de hacerlo para
          esa finalidad en concreto. Si decides retirar tu consentimiento, esto
          no afectará a ningún tratamiento que haya tenido lugar mientras tu
          consentimiento estaba vigente. Estos derechos podrán verse limitados;
          por ejemplo si para cumplir tu solicitud tuviésemos que revelar datos
          sobre otra persona, o si nos solicitas que eliminemos algunos
          registros que estamos obligados a mantener por una obligación legal o
          por un interés legítimo, como pueda ser el ejercicio de defensa ante
          reclamaciones. O incluso en aquellos casos donde debe prevalecer el
          derecho a la libertad de expresión e información. Puedes contactar con
          nosotros por cualquiera de los medios indicados en el apartado
          Responsable del Tratamiento de esta política de privacidad, aportando
          una copia de un documento que acredite tu identidad (normalmente el
          DNI). Otro de tus derechos es el de no ser objeto de una decisión
          basada únicamente en un tratamiento automatizado, incluida la
          elaboración de perfiles que produzca efectos jurídicos o te afecte.
          Frente a cualquier vulneración de tus derechos, como, por ejemplo, que
          no hayamos atendido tu solicitud, tienes derecho a presentar una
          reclamación ante la Autoridad de Control en materia de protección de
          datos. Esta puede ser la de tu país (si vives fuera de España) o la
          Agencia Española de Protección de Datos (si vives en España).
        </p>

        <h2 class="mt-8 mb-5 font-semibold text-3xl">Información adicional</h2>

        <h3 class="mb-5 font-semibold text-xl">
          Tratamiento de tus datos fuera del Espacio Económico Europeo.
        </h3>

        <p class="mb-6">
          Para los tratamientos indicados podemos utilizar servicio de los
          siguientes proveedores ajenos al Espacio Económico Europeo, pero
          acogidos al acuerdo de Privacy Shield, aprobado por las autoridades de
          protección de datos de la Unión Europea
        </p>

        <ul class="mb-6 list-disc pl-4">
          <li class="mb-3">
            Amazon:&ZeroWidthSpace; Más información:
            &ZeroWidthSpace;https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4
          </li>
          <li class="mb-3">
            Dropbox:&ZeroWidthSpace; Más información:
            &ZeroWidthSpace;https://www.privacyshield.gov/participant?id=a2zt0000000GnCLAA0
          </li>
          <li class="mb-3">
            Facebook/ Instagram (FB Messenger): Más información:
            https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC
          </li>
          <li class="mb-3">
            Google (Drive / Mail ...): Más información:
            https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI
          </li>
          <li class="mb-3">
            Microsoft (Drive, Skype...): Más información:
            https://www.privacyshield.gov/participant?id=a2zt0000000KzNaAAK
          </li>
          <li class="mb-3">
            Whatsapp: Mensajería instantánea móvil Más información:
            https://www.privacyshield.gov/participant?id=a2zt0000000TSnwAAG
          </li>
        </ul>

        <h3 class="mb-5 font-semibold text-xl">
          Enlaces a sitios web de terceros.
        </h3>

        <p class="mb-6">
          Nuestro sitio web puede, en algunas ocasiones, contener enlaces hacia
          otros sitios web. Es tu responsabilidad asegurarte de leer la política
          de protección de datos y las condiciones legales que se apliquen a
          cada sitio.
        </p>

        <h3 class="mb-5 font-semibold text-xl">Datos de terceros.</h3>

        <p class="mb-6">
          Si nos facilitas datos de terceros, asumes la responsabilidad de
          informarles previamente según lo establecido en el artículo 14 del
          RGPD.
        </p>
      </div>
    </Container>
  </main>
</Layout>
