---
import SocialLinks from "@/components/SocialLinks.astro";
import Link from "@/components/shared/Link.astro";
import Container from "@/components/Container.astro";
import presentation from "@/data/presentation";
import { SITE_URL } from "@/data/config"
---

<footer id="footer" class="mt-auto p-4 bg-gray-200">
  <Container>


    <header>
      <h2>Pie de página</h2>
    </header>
    <p>
      Correo: <Link
        href={`mailto:${presentation.mail}`}
        label={presentation.mail}
      />
    </p>
    <p>Tel: 971 31 31 47 / 666 231 065</p>

    <SocialLinks />

    <form target="_blank" action="https://formsubmit.co/5d7f85a3bfef8d3f7d94f2459a0acf0d" method="POST">
      <input type="hidden" name="_captcha" value="false">
      <input type="text" name="_honey" style="display:none">
      <input type="hidden" name="_next" value={`${SITE_URL}formulario-enviado/`}>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="col">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea placeholder="Mensaje" class="form-control" name="message" rows="10" required></textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
    </form>



  </Container>

</footer>

