---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEOTags from "@/components/seo/SEOTags.astro";

// Supports weights 200-800
import "@fontsource-variable/manrope";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags title={title} />
  <ViewTransitions />
  <body class="min-h-[100dvh] flex flex-col">
    <Header />
    <div id="mainPanel">
      <slot />
    </div>
    <Footer />

    <style is:global>
      html {
        font-family: "Manrope Variable";
      }
    </style>

    <script src="../scripts/pageLoad.js"></script>
  </body>
</html>
