---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEOTags from "@/components/seo/SEOTags.astro";

// Supports weights 200-800
import "@fontsource/hanken-grotesk";
import "@fontsource/hanken-grotesk/400-italic.css";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags title={title} />
  <ViewTransitions />
  <body class="min-h-[100dvh] flex flex-col">
    <style is:global>
      html {
        font-family: "Hanken Grotesk";
      }
    </style>
    <Header />
    <slot />
    <Footer />

    <script src="../scripts/pageLoad.js"></script>
  </body>
</html>
