---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEOTags from "@/components/seo/SEOTags.astro";

// Supports weights 200-800
import "@fontsource/hanken-grotesk";
import "@fontsource/hanken-grotesk/400-italic.css";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags title={title} />
  <ViewTransitions />
  <body class="min-h-[100dvh] flex flex-col">
    <style is:global>
      html {
        font-family: "Hanken Grotesk";
      }


      .shape {
        transform-origin: center;
        transition: background 0.3s ease-in-out;
      }

      .shape-1 {
        /* background: #ffee58; */
        animation: shape-anim 24s infinite forwards linear;
      }

      .shape-2 {
        /* background: #ff7e76; */
        border-radius: 100%/100%;
        animation: shape-anim-rev 24s infinite forwards linear;
        animation-delay: 0.1s;
      }

      .shape-3 {
        /* background: #85b6ff; */
        animation: shape-anim 24s infinite forwards linear;
        animation-delay: 0.2s;
      }

      .shape-4 {
        /* background: #4ecb71; */
        border-radius: 100%/100%;
        animation: shape-anim-rev 24s infinite forwards linear;
        animation-delay: 0.3s;
      }

      .shapes-container:hover a:not(:hover) .shape {
        background: #e5e7eb !important; /* bg-gray-200  */
      }

      /* .shapes-item {
        transition: transform 0.8s ease-out;
      }

      .shapes-item:hover {
        z-index: 10;
        transform: scale(1.03);
      } */
    

      @keyframes shape-anim {
        0%,
        11.25% {
          border-radius: 0;
          transform: rotate(0deg);
        }
        11.25%,
        13.75% {
          border-radius: 0;
          transform: rotate(0deg);
        }
        13.75%,
        36.25% {
          border-radius: 100%/100%;
          transform: rotate(90deg);
        }
        36.25%,
        38.75% {
          border-radius: 100%/100%;
          transform: rotate(90deg);
        }
        38.75%,
        61.25% {
          border-radius: 0;
          transform: rotate(180deg);
        }
        61.25%,
        63.75% {
          border-radius: 0;
          transform: rotate(180deg);
        }
        63.75%,
        86.25% {
          border-radius: 100%/100%;
          transform: rotate(270deg);
        }
        86.25%,
        88.75% {
          border-radius: 100%/100%;
          transform: rotate(270deg);
        }
        88.75%,
        100% {
          border-radius: 0;
          transform: rotate(360deg);
        }
      }

      @keyframes shape-anim-rev {
        0%,
        11.25% {
          border-radius: 100%/100%;
          transform: rotate(0deg);
        }
        11.25%,
        13.75% {
          border-radius: 100%/100%;
          transform: rotate(0deg);
        }
        13.75%,
        36.25% {
          border-radius: 0;
          transform: rotate(90deg);
        }
        36.25%,
        38.75% {
          border-radius: 0;
          transform: rotate(90deg);
        }
        38.75%,
        61.25% {
          border-radius: 100%/100%;
          transform: rotate(180deg);
        }
        61.25%,
        63.75% {
          border-radius: 100%/100%;
          transform: rotate(180deg);
        }
        63.75%,
        86.25% {
          border-radius: 0;
          transform: rotate(270deg);
        }
        86.25%,
        88.75% {
          border-radius: 0;
          transform: rotate(270deg);
        }
        88.75%,
        100% {
          border-radius: 100%/100%;
          transform: rotate(360deg);
        }
      }
    </style>
    <Header />
    <slot />
    <Footer />

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="../scripts/pageLoad.js"></script>
  </body>
</html>
